  @font-face {
    font-family: "ALS Hauss";
    src:  
    url("../fonts/ALSHauss/ALSHauss-Bold.woff2")format("woff2"),
    url("../fonts/ALSHauss/ALSHauss-Bold.woff")format("woff");
    font-weight: bold;
  }
  @font-face {
    font-family: "ALS Hauss";
    src:  
    url("../fonts/ALSHauss/ALSHauss-Medium.woff2")format("woff2"),
    url("../fonts/ALSHauss/ALSHauss-Medium.woff")format("woff");
    font-weight: 500;
  }
  @font-face {
    font-family: "ALS Hauss";
    src:  
    url("../fonts/ALSHauss/ALSHauss-Regular.woff2")format("woff2"),
    url("../fonts/ALSHauss/ALSHauss-Regular.woff")format("woff");
    font-weight: 400;
  }
  @font-face {
    font-family: "ALS Gorizont";
    src:  
    url("../fonts/ALSGorizont/ALSGorizont-ExtraBoldExpanded.woff2")format("woff2"),
    url("../fonts/ALSGorizont/ALSGorizont-ExtraBoldExpanded.woff")format("woff");
    font-weight: 900;
  }
